<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Workouts</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Workout 1</string>
			<key>WarmUp</key>
			<array>
				<string>20 YDS front lunges</string>
				<string>20 YDS Back Lunges with torso stretch</string>
				<string>20 yds Lateral lunges</string>
				<string>20 yds Front Kick</string>
				<string>20 yds Toe touches with back Kick</string>
				<string>20 yds knee to chest</string>
				<string>20 yds quadricep stretch</string>
				<string>20 yds skipping</string>
			</array>
			<key>Description</key>
			<string>Workout inicial</string>
		</dict>
	</array>
</dict>
</plist>
